td, th, tr{
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1{
    color: red;
    font-weight: 1000;
    font-size: 50px;
}

header p{
    margin-top: -25px;
    font-weight: bold;
}

header h3{
    font-weight: bold;
    font-size: 25px;
}

.first{
    display: flex;
    gap: 37%;
    margin-bottom: 4%;
}


.second {
    display: flex;
    gap: 27.5%;
    margin-bottom: 4%;
}

.main_table{
    margin-bottom: 4%;
}

.second_main{
    display: flex;
    gap: 31%;
    margin-bottom: 4%;
}

.cream{
    background-color: #f5f5dc;
}

.blue{
    background-color: rgb(88, 69, 155);
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
    color: red;
}

.green{
    background-color: lightgreen;
    font-weight: bolder;
}